body{
    background-color: #262626;
    overflow: hidden;
    user-select: none;
    width: 100vw;
    height: 100vh;
    cursor: url(./Assets/Fist.png) 50 50, auto;
    font-family: monospace;
    font-size:x-large;
    line-height: 150%;
}

canvas{
    background-color: #101010;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4{
    position: absolute;
    background-color: #262626;
    border: none;
    color: #ff9525;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}


#play :hover{
    color: #fff0c8;
    cursor: url(./Assets/Grab.png) 50 50, auto;
}
#back :hover{
    color: #fff0c8;
    cursor: url(./Assets/Grab.png) 50 50, auto;
}

video{
    visibility: hidden;
    position: absolute;
    top: -5000px;
    left: -5000px;
    overflow: hidden;
}

#TextImg{
    position: absolute;
    pointer-events: none;
    z-index: 0;
    opacity: 0;
}
.Monitor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.OverlayImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 0;
}