body{
    background-color: #262626;
    overflow: hidden;
}

canvas{
    background-color: #101010;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ;
}

button{
    position: absolute;
}

video{
    visibility: hidden;
    position: absolute;
    top: -5000px;
    left: -5000px;
    overflow: hidden;
}


#TextImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
}
.Monitor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.OverlayImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 0;
}
#play:hover{
    cursor: pointer;
}