body{
    background-color: #262626;
    overflow: hidden;
}

canvas{
    background-color: #101010;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    ;
}

button{
    position: absolute;
}

video{
    visibility: hidden;
    position: absolute;
}


.MoniImg{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
}
.Monitor{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.OverlayImg{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 0;
}
#play{
    position: absolute;
    left: 400px;
    top: 300px;
    pointer-events: all;
    padding: 1%;
    opacity: 0;
    z-index: 2;
    border: red;
    border-width: 20px;
    border-style: solid;
}
#play:hover{
    cursor: pointer;
}