body{
    background-color: #262626;
    overflow: hidden;
}
canvas{
    background-color: #202020;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ;
}
video{
    visibility: hidden;
}
#play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}